.modalShow{
    display: block;
    opacity: 1!important;
}
body{
    font-family:montserrat;
}
.height100vh{
    height:100vh;
}
.width100{
    width:100px;
}
.m-top-5{
    margin-top: 5px;
}
.m-top-10{
    margin-top: 10px;
}
.m-top-15{
    margin-top: 15px;
}
.m-top-20{
    margin-top: 20px;
}
.m-top-25{
    margin-top: 25px;
}
.m-top-30{
    margin-top: 30px;
}
.m-top-35{
    margin-top: 35px;
}
.m-top-40{
    margin-top: 40px;
}
.m-top-45{
    margin-top: 45px;
}
.m-top-50{
    margin-top: 50px;
}
.m-top-55{
    margin-top: 55px;
}
.m-top-60{
    margin-top: 60px;
}
.m-top-70{
    margin-top: 70px;
}
.m-top-80{
    margin-top: 80px;
}
.m-top-90{
    margin-top: 90px;
}
.m-top-100{
    margin-top: 100px;
}
.m-top-130{
    margin-top: 130px;
}
.displayInline{
    display: inline-block;
}
.pad-0{
    padding: 0px!important;
}
.posRelative{
    position: relative;
}
